FACILITATOR_URL=http://localhost:8787
HEDERA_MAINNET_FACILITATOR_URL=http://localhost:8787
ARC_FACILITATOR_URL=http://localhost:8788
FACILITATOR_FEE_PAYER_ID=
FACILITATOR_API_KEY=
PORT=3200
NETWORK=hedera:testnet
PROVIDER_ACCOUNT_ID=0.0.9651458
USDC_TOKEN_ID=0.0.429274
HEDERA_MAINNET_PROVIDER_ACCOUNT_ID=
HEDERA_MAINNET_USDC_TOKEN_ID=
ARC_PROVIDER_ADDRESS=
ARC_USDC_ADDRESS=0x3600000000000000000000000000000000000000
