APP_ENV=development
ARC_PAYER_PRIVATE_KEY=
ARC_RPC_URL=https://rpc.testnet.arc.network
ARC_USDC_ADDRESS=0x3600000000000000000000000000000000000000
ARC_PROVIDER_ADDRESS=
FACILITATOR_API_KEY=
MANAGED_SIGNING_API_KEY=
SETTLEMENT_API_KEY=
CONTRACT_EXECUTION_API_KEY=
CONTRACT_ALLOWLIST_JSON=[]
PORT=8788
